<% if user_signed_in? %>

<h1>Friends List</h1>

<table class='table table-striped table-bordered table-hover mt-3'>

  <thead class="table-dark">
    <tr>
      <th>Name</th>

      <th>Email</th>

      <th>Phone</th>

      <th>Twitter</th>

      <th>User Id</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      
      <tr>
        <td>
         <%= link_to friend.first_name + ' ' + friend.last_name, friend,{:style=>'text-decoration: none; color: #000; font-weight: 600', :class => "css_class"} %>
        </td>

        <td>
          <%= friend.email %>
        </td>

        <td>
          <%= friend.phone %>
        </td>

        <td>
          <%= friend.twitter %>
        </td>

        <td>
          <%= friend.user_id %>
        </td>

        <td><%= button_to 'Delete', friend, method: :delete, class: "btn btn-danger btn-sm" %></td>
      </tr>

    <% end %>
  </tbody>

</table>

<%= link_to "New Friend", new_friend_path, class:'btn btn-secondary' %>


<% else %>
  <h1>Hello World!</h1>
  <p>This is my first Webpage...</p>
<% end %>